:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

/* Start Filter */
.filters {
    margin: 30px 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.filters input {
    border: 0 solid gray;
    border-radius: 10px;
    padding: 8px 12px;
    margin: 5px 5px;
    outline: 0;
    background-color: var(--section-background);
    color: #777;
    width: 300px;
}

.filters .search[type="number"] {
    width: 130px;
}

.filters input[type="submit"] {
    width: 70px;
    background-color: #777;
    color: var(--section-background);
    cursor: pointer;
}
/* End Filter */

/* Start products*/
.cards {
    display: grid;
    grid-template-columns: 31.3% 31.3% 31.3%;
    gap: 3%;
}

@media (max-width: 768px) {
    .cards {
        grid-template-columns: 48.5% 48.5%;
    }
}

@media (max-width: 480px) {
    .cards {
        grid-template-columns: 100%;
        gap: 0;
    }
}

.product-card {
    width: 100%;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 10px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
    width: 100%;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

.product-links button {
    border-width: 0px;
    background-color: transparent;
}

.product-links button img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
/* End Products */

