{% extends 'main.html' %}


{% block content %}
    <div class="p-4">
        <h3>items: {{count_cart_items}}</h3>
        <h3>total: {{total}}</h3>
    </div>

    <div class="user-data p-4" id="form-wrapper">
        <form id="form" method="post">
            {% csrf_token %}

            <div id="shipping-info">
                <label for="address">Address: </label>
                <input type="text" name="address" id="address" max_length="200" required>

                <label for="city">City: </label>
                <input type="text" name="city" id="city" max_length="200" required>

                <label for="state">State: </label>
                <input type="text" name="state" id="state" max_length="200" required>

                <label for="zipcode">Zipcode: </label>
                <input type="text" name="zipcode" id="zipcode" max_length="200" required>

            </div>
            <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
        </form>

    </div>

    <br>
    <div class="box-element hidden" id="payment-info">
        <small>Paypal Options</small>
        <div id="paypal-button-container"></div>
    </div>

    <div class="cards p-4">
    {% for item in items %}
        <div class="card p-4">

            <img src="{{item.product.imageURL}}" alt="">
            <h4>{{item.product.name}}</h4>
            <h4>{{item.quantity}}</h4>

        </div>
    {% endfor %}
    </div>

        {% comment %} <!-- Sample PayPal credentials (client-id) are included -->
        <script src="https://www.paypal.com/sdk/js?client-id=ATIFwJR5tYylPX9_xuTSTnu2pbz70P_G2g3xz9G42u9L84AQ3C_V1pjljlwSja3IFa2L6-uBjMJvMC2j&currency=USD&intent=capture&enable-funding=venmo" data-sdk-integration-source="integrationbuilder"></script>
        <script>
          const paypalButtonsComponent = paypal.Buttons({
              // optional styling for buttons
              // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
              style: {
                color: "blue",
                shape: "rect",
                layout: "vertical"
              },

              // set up the transaction
              createOrder: (data, actions) => {
                  // pass in any options from the v2 orders create call:
                  // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
                  const createOrderPayload = {
                      purchase_units: [
                          {
                              amount: {
                                  value: "88.44"
                              }
                          }
                      ]
                  };

                  return actions.order.create(createOrderPayload);
              },

              // finalize the transaction
              onApprove: (data, actions) => {
                  const captureOrderHandler = (details) => {
                      const payerName = details.payer.name.given_name;
                      console.log('Transaction completed');
                  };

                  return actions.order.capture().then(captureOrderHandler);
              },

              // handle unrecoverable errors
              onError: (err) => {
                  console.error('An error prevented the buyer from checking out with PayPal');
              }
          });

          paypalButtonsComponent
              .render("#paypal-button-container")
              .catch((err) => {
                  console.error('PayPal Buttons failed to render');
              });
        </script>
      </body>
    </html>
 {% endcomment %}

    {% comment %} <script src="https://www.paypal.com/sdk/js?client-id=ATIFwJR5tYylPX9_xuTSTnu2pbz70P_G2g3xz9G42u9L84AQ3C_V1pjljlwSja3IFa2L6-uBjMJvMC2j&currency=USD&disable-funding=credit"></script> {% endcomment %}
    <script src="https://www.paypal.com/sdk/js?client-id=ATIFwJR5tYylPX9_xuTSTnu2pbz70P_G2g3xz9G42u9L84AQ3C_V1pjljlwSja3IFa2L6-uBjMJvMC2j&currency=USD&intent=capture&enable-funding=venmo" data-sdk-integration-source="integrationbuilder"></script>
    
    <script>
        var total = '{{total}}';

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style: {
                color: 'blue',
                shape: 'rect',
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    submitFormData();
                });
            }
        }).render('#paypal-button-container');
    </script>


    <script type="text/javascript">
        var shipping = '{{order.shipping}}';

        if (shipping == 'False') {
            document.getElementById('shipping-info').innerHTML= '';
            document.getElementById('form-wrapper').classList.add("hidden");
            document.getElementById('payment-info').classList.remove("hidden");
        }

        var form = document.getElementById('form');
        csrftoken = form.getElementsByTagName("input")[0].value;

        form.addEventListener('submit', function (e) {
            e.preventDefault();
            console.log("Form Submitted...");
            document.getElementById('form-button').classList.add("hidden");
            document.getElementById('payment-info').classList.remove("hidden");
        });

        function submitFormData() {
            console.log("Payment button clicked");

            var shippingInfo = {
                'address': null,
                'city': null,
                'state': null,
                'zipcode': null,
            }

            if (shipping != 'False') {
                shippingInfo.address = form.address.value;
                shippingInfo.city = form.city.value;
                shippingInfo.state = form.state.value;
                shippingInfo.zipcode = form.zipcode.value;
            }

            var url = '/process_order/';
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'total': total,
                    'shipping': shippingInfo
                })
            })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                alert('Transaction completed');

                cart = {};
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";

                window.location.href = "{% url 'store' %}";
            })
        }
    </script>


{% endblock content %}