{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    {% block css %}
        
    {% endblock css %}
        
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Silver Market</title>
</head>
    
</head>
<body>
    <script>
        let user = '{{request.user}}';

        // https://docs.djangoproject.com/en/3.2/ref/csrf/#ajax
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');     
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        let csrftoken = getToken('csrftoken');
        
    </script>

    <!-- Start Header -->
    <div class="header"> <!-- TODO edit size -->
        <div class="container">
            <div class="block">
                <a class="logo" href="{% url 'store' %}">Silver Market</a>
                <ul class="main-nav">
                    <li><a href="{% url 'store' %}">store</a></li>
                    <li><a href="{% url 'cart' %}">cart <span>{{count_cart_items}}</span></a></li>
                    <li><a href="{% url 'checkout' %}">checkout</a></li>
                    {% if request.user.is_superuser %}
                        <li><a href="{% url 'create_product' %}">add product</a></li>
                        <li><a href="{% url 'categories' %}">categories</a></li>
                        <li><a href="{% url 'orders' %}">Orders</a></li>
                    {% endif %}
                </ul>
            </div>
                {% if request.user.is_authenticated %}
                    <span class="auth-button"><a href="{% url 'account_logout' %}">Logout</a></span>
                {% else %}
                    <span class="auth-button"><a href="{% url 'account_login' %}">Login</a></span>
                {% endif %}
        </div>
    </div>
    <!-- End Header -->

    {% block content %}
        
    {% endblock content %}
    
    <!-- Start Footer -->
    <div class="footer">
        <p class="footer-title">
            Copyrights @ 
            <span>Muhammad Anas Darwish</span>
        </p>
        <div class="social-icons">
            <a href="https://www.facebook.com/anas.darwish.927"><img src="{% static 'svg/facebook.svg' %}" alt=""></a>
            <a href="https://www.instagram.com/anas.darwish.927/"><img src="{% static 'svg/instagram.svg' %}" alt=""></a>
            <a href="https://github.com/Muhammad-Anas-Darwish"><img src="{% static 'svg/github.svg' %}" alt=""></a>
            <a href="https://www.linkedin.com/in/muhammad-anas-darwish-b58875233/"><img src="{% static 'svg/linkedin.svg' %}" alt=""></a>
        </div>
    </div>
    <!-- End Footer -->

    <!-- JS Code -->
    <script src="{% static 'js/cart.js' %}"></script>
</body>
</html>